.sortBtn{
    font-family: 'Rubik', sans-serif;
    font-size:18px;
    color:#ffffff;
    font-weight: 500;
    background-color: #ffffff;
    padding:5px 12px;
    text-transform: uppercase;
    position: absolute;
    right: -15px;
    bottom: 40px;
    border-radius:25px;
    box-shadow: 10px 20px 30px rgba(0, 0, 0, 0.2);
}